@import '@fortawesome/fontawesome-free/css/all.css';

* {
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}
.card-header {
  display: flex;
  justify-content: space-evenly;
}
.card-header h2,
.card-header h3 {
  display: inline-block;
}

.card-header p,
.card-description p {
    font-size: 20px;
}
.card-header p {
  font-weight: bolder;
}

.low-uv-index {
  /* border: 1px solid green; */
  color: green;
}

.moderate-uv-index {
  /* border: 1px solid yellow; */
  color: yellow;
}

.high-uv-index {
  /* border: 1px solid orange; */
  color: orange;
}

.veryhigh-uv-index {
  /* border: 1px solid red; */
  color: red;
}

.extreme-uv-index {
  /* border: 1px solid purple; */
  color: purple;
}

.fa-solid.northwest {
  transform: rotate(-135deg);
}
.fa-solid.northeast {
  transform: rotate(-45deg);
}
.fa-solid.southeast {
  transform: rotate(45deg);
}
.fa-solid.southwest {
  transform: rotate(135deg);
}

.loadingscreen {
  font-size: 45px;
  margin: 20px;
}

.card-by-hours {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 50px;
}
.card-by-hours p {
  display: inline;
}
.card-header-by-hour {
  display: flex;
  justify-content: space-between;
}
.card-rain-by-hour {
  display: flex;
  justify-content: space-around;
}
.card-temp-by-hour {
  display: flex;
  justify-content: space-around;
}
.card-wind-by-hour {
  display: flex;
  justify-content: space-around;
}
.card-snow-by-hour {
  display: flex;
  justify-content: space-around;
}
