@import '@fortawesome/fontawesome-free/css/all.css';

* {
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}
.card-header {
  display: flex;
  justify-content: space-evenly;
}
.card-header h2,
.card-header h3 {
  display: inline-block;
}

.card-header p,
.card-description p {
    font-size: 20px;
}

p.current-temp {
  font-size: 40px;
}

/* UV INDEX COLOR */
.low-uv-index {
  color: green;
}
.moderate-uv-index {
  color: yellow;
}
.high-uv-index {
  color: orange;
}
.veryhigh-uv-index {
  color: red;
}
.extreme-uv-index {
  color: purple;
}

/* WIND ICONS */
.fa-solid.northwest {
  transform: rotate(-135deg);
}
.fa-solid.northeast {
  transform: rotate(-45deg);
}
.fa-solid.southeast {
  transform: rotate(45deg);
}
.fa-solid.southwest {
  transform: rotate(135deg);
}

.loadingscreen {
  font-size: 45px;
  margin: 20px;
}

.card-by-hours {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 50px;
}
.card-header-by-hour {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}
.card-body {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-temp-by-hour,
.card-rain-by-hour,
.card-wind-by-hour,
.card-snow-by-hour {
  display: flex;
  gap: 10px;
  margin: 5px;
  padding: 7px;
  border: 1px solid red;
  border-radius: 10px;
}

.card-temp-by-hour  div,
.card-rain-by-hour div,
.card-wind-by-hour div,
.card-snow-by-hour div {
  display: flex;
  flex-direction: column;
  align-items: center;
}